#heading{
    height: 100px;
    width: 100px;
    color:rebeccapurple;
    text-align: center;
    background-color: yellow;
}
body{
    background-color: aquamarine;
}
button{
    background-color: burlywood;
    text-align: center;
    display:flex;
    
}
#heading2{
    color :coral;
    background-color: white;
}
.heading-class{
    background-color: yellowgreen;
    color: black;
}
.div-class{
    background-color: thistle;
    color:gray
}